@tailwind base;
@tailwind components;
@tailwind utilities;

.light-theme {
    --cards-buttons-color: hsl(0, 0%, 100%);
    --bgcolor-body: hsl(0, 0%, 98%);
    --text-color: hsl(200, 15%, 8%);
    background-color: var(--bgcolor-body);
    color: var(--text-color);
    transition: 0.5s ease-in;
}

.dark-theme {
    --bgcolor-body: hsl(207, 26%, 17%);
    --text-color: hsl(0, 0%, 100%);
    --cards-buttons-color: hsl(209, 23%, 22%);
    background-color: var(--bgcolor-body);
    color: var(--text-color);
    transition: 0.5s ease-in;
}

.dark-theme a {
    text-decoration: none;
    color: var(--text-color);
}

.light-theme a {
    text-decoration: none;
    color: var(--text-color);
}
